@use "@/shared/styles/colors.scss" as *;

:host {
  display: contents;
}

.chats-placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  min-height: 100dvh;
  &, app-icon {
    color: $primaryTextColor;
  }

  p {
    display: flex;
    align-items: center;
    gap: 3px;
    &, app-icon {
      color: $iconColor;
    }
  }
}