@use "@/shared/styles/colors.scss" as *;

:host {
  display: block;
  position: relative;
  z-index: 0;
  color: $iconColor;
}

app-icon-button, app-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: .3s all ease;
}

app-icon {
  pointer-events: none;
}

.input {
  width: 100%;
  border: 1px solid $borderColor;
  background-color: $secondaryBackgroundColor;
  border-radius: 10px;
  padding: 10px;
  &.error {
    border-color: $dangerColor;
  }
  &, &::placeholder {
    font-size: 14px;
    font-weight: 400;
    color: $iconColor;
    transition: .3s all ease;
  }
  &:focus-visible, &:focus-within, &:hover {
    outline: none;
    border-color: $primaryTextColor;
    &, &::placeholder, & + app-icon, & {
      color: $primaryTextColor;
    }
  }
}