@use "@/shared/styles/colors.scss" as *;

:host {
  display: contents;
}

.title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  color: $primaryTextColor;
}


.guide {
  font-size: 20px;
  font-weight: 400;
  color: $primaryTextColor;
  text-align: center;
}

.accent {
  color: $accentColor;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}