@use "@/shared/styles/colors.scss" as *;

:host {
  display: contents;
}

.left-sidebar {
  border-right: 1px solid $borderColor;
  background-color: $secondaryBackgroundColor;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  height: 100dvh;
  overflow-y: auto;
}