$primaryBackgroundColor: light-dark(#1B1818, #1B1818);
$secondaryBackgroundColor: light-dark(#333232, #333232);
$loaderPrimaryColor: light-dark(#FFFDFD, #FFFDFD);
$loaderSecondaryColor: light-dark(#C1C1C1, #C1C1C1);
$borderColor: light-dark(#595757, #595757);
$primaryTextColor: light-dark(#F4F4F4, #F4F4F4);
$errorTextColor: light-dark(#BD5252, #BD5252);
$buttonDisabledBackroundColor: light-dark(#595757, #595757);
$buttonSubmitBackroundColor: light-dark(#036537, #036537);
$buttonSubmitHoverBackroundColor: light-dark(#09592E, #09592E);
$iconColor: light-dark(#8C8B8B, #8C8B8B);
$primaryHoverBackgroundColor: light-dark(#595757, #595757);
$primaryBackdropColor: light-dark(#3E3B3B, #3E3B3B);
$dangerColor: light-dark(#C64545, #C64545);
$accentColor: light-dark(#9456FF, #9456FF);