@use "@/shared/styles/colors.scss" as *;

:host {
  display: contents;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .input {
    width: 100%;
    border: 1px solid $borderColor;
    background-color: $secondaryBackgroundColor;
    border-radius: 10px;
    padding: 10px;
    &.error {
      border-color: $dangerColor;
    }
    &, &::placeholder {
      font-size: 14px;
      font-weight: 400;
      color: $iconColor;
      transition: .3s all ease;
    }
    &:focus-visible, &:focus-within, &:hover {
      outline: none;
      border-color: $primaryTextColor;
      &, &::placeholder {
        color: $primaryTextColor;
      }
    }
  }
  .label {
    color: $primaryTextColor;
    font-size: 20px;
    font-weight: 400;
  }
}

.errors {
  display: flex;
  flex-direction: column;
  color: $dangerColor;
  list-style: none;
  gap: 5px;
}
