@use "@/shared/styles/colors.scss" as *;

:host {
  display: block;
}

.danger-button {
  display: block;
  height: auto;
  border: none;
  outline: none;
  background-color: transparent;
  color: $dangerColor;
  border: 1px solid $dangerColor;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: .3s all ease;
  &:hover {
    opacity: 0.6;
  }
}